extends layouts/default
block content
    section(ng-view)
script(type="text/javascript").
    //************************************************************XXXXXXXX
    alert("Hola")
    window.user = !{user};