<!doctype html>
<html>
<head>
    <title>Ejemplos de plantillas HandleBars</title>
</head>


<body>
<header><img src="/img/handlebars_logo.png" alt="Handlebars Logo" width="142"></header>
{{{body}}}
</body>


</html>