extends layout

block content
  h1= title
  p Bienvenido a   #{title}
  h2 Lista de aplicaciones
  ul
      li Aplicación crud
         a(href="./vistas")     Crud
      li Fantasy football&nbsp;<a href="http://www.elpais.es">Crud</a> descripción

      li Mysql&nbsp;
        a(href="http://www.elpais.es") Crud

