<% include includes/cabecera.ejs%>
<% include includes/header.ejs%>
<div class="title">
    <%= title %>
    <h2>Rutas</h2>
    <div>
        <ul>
            <li>/posts/list</li>
            <li>/posts/new</li>
            <li></li>
        </ul>

    </div>
    <h3>Adaptado  de <a href="http://howtonode.org/bogart-couchdb">Artículo de partidad</href></h3>
    <ul>
        <li><a href="/posts/list">Listado</a></li>
        <li><a href="/posts/new">Nuevo</a></li>
    </ul>
</div>

<% include includes/pie.ejs %>