

<div class="container posts-page">
   <p>Lista de usuarios</p>
    <div><p>Informacion</p><br><p>{{mensaje }}</p></div><br></div>
    <div class="post row" ng-repeat="usuario in usuarios">

        <div class="col-xs-1">

        </div>
        <div class="col-md-9 col-xs-11">
           <div>
               {{usuario._id}}
               {{usuario.email}}<br>
               {{usuario.password}}
           </div>

        </div>
        <div class="col-md-2">

        </div>

    </div>


</div>